extends /layouts/main

block append variables
  - var layout_main_class = "main_width-limit-wide"
  - var comments = true
  - var layout_header_class = "main__header_center"

block append head
  !=js("tutorial", {defer: true})

block content
  +b.intro
    | Vasyao TEAM
    | keep calm and go codding
  +b.course-search
    +e('form').form(action="/search/")
      +e.input-wrap._text
        +b.text-input.__query
          +e('input').control(type="text" name="query" placeholder="Искать в учебнике" required)
      +e.input-wrap._submit
        +b("button").button._action(type="submit" name="type" value="articles")
          +e("span").text Найти
  +b.course-info
    +e.header
      include /blocks/tags

    +e.body.columns.columns_2
      
       +e.col.columns__col
        +e.content
          +b('ul').box-event.special-links-list
            - each folder in locals.content
              +e('li').item
               +e('a')(href=folder.slug) 
                +e('img')(src=folder.img_url)
                +e('div').backgroupColor
                +e('div').title
                  +e('p')= folder.title
                +e('div').place


  script(type="application/ld+json")
    | {
    |   "@context": "http://schema.org",
    |   "@type": "WebSite",
    |   "url": "https://#{domain.main}/",
    |   "potentialAction": {
    |     "@type": "SearchAction",
    |     "target": "https://#{domain.main}/search?query={search_term_string}",
    |     "query-input": "required name=search_term_string"
    |   }
    | }

